<div class='owlselector'>
<h2>All Objectproperties (2)</h2>

<div class='codebox' id='ID-5575519915030416097'>
<ul>
<li class="asserted"><a href="C_has_feature___2018201253.html" class='Object Property' title="http://www.semanticweb.org/luenpasc/ontologies/2021/3/Core#C_has_feature">C_has_feature</a></li>
<li class="asserted"><a href="has_layer___-1509427926.html" class='Object Property' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#has_layer">has_layer</a></li>
</ul>
</div>

</div><!-- owlselector -->
