<div class='owlselector'>
<h2>All Ontologies (2)</h2>

<div class='codebox' id='ID-7261545806794953091'>
<ul>
<li class="asserted"><a class='ontology-uri' href="Core___-2107957709.html" title='http://www.semanticweb.org/luenpasc/ontologies/2021/3/Core'>Core</a></li>
<li class="asserted"><a class='active-ontology-uri' href="HTA___-2109992058.html" title='http://www.semanticweb.org/luenpasc/ontologies/2021/6/HTA'>HTA</a></li>
</ul>
</div>

</div><!-- owlselector -->
