<div class='owlselector'>
<h2>All Classes (22)</h2>

<div class='codebox' id='ID-5739320151762661269'>
<ul>
<li class="asserted"><a href="AM_Layer___-1843034852.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#AM_Layer">AM_Layer</a></li>
<li class="asserted"><a href="AM_Machine___1651811538.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#AM_Machine">AM_Machine</a></li>
<li class="asserted"><a href="AM_Powder___-1230884854.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#AM_Powder">AM_Powder</a></li>
<li class="asserted"><a href="AM_Process___516980474.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#AM_Process">AM_Process</a></li>
<li class="asserted"><a href="AsDesigned___-2072094963.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#AsDesigned">AsDesigned</a></li>
<li class="asserted"><a href="Cooling___1044010391.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Cooling">Cooling</a></li>
<li class="asserted"><a href="Corrsoion_Behavior___2014589359.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Corrsoion_Behavior">Corrsoion_Behavior</a></li>
<li class="asserted"><a href="Defect___470334287.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Defect">Defect</a></li>
<li class="asserted"><a href="Flowability___-1282518566.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Flowability">Flowability</a></li>
<li class="asserted"><a href="Formular___-1033550422.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Formular">Formular</a></li>
<li class="asserted"><a href="Grain_Orientation___-1992154742.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Grain_Orientation">Grain_Orientation</a></li>
<li class="asserted"><a href="Grain_Size___955204419.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Grain_Size">Grain_Size</a></li>
<li class="asserted"><a href="Hardness___-1391573088.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Hardness">Hardness</a></li>
<li class="asserted"><a href="Microstructure___-1582097139.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Microstructure">Microstructure</a></li>
<li class="asserted"><a href="Morphology___-2067133318.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Morphology">Morphology</a></li>
<li class="asserted"><a href="Particle_Size___329447384.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Particle_Size">Particle_Size</a></li>
<li class="asserted"><a href="Scan___-1570291621.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Scan">Scan</a></li>
<li class="asserted"><a href="Sliced_Build_Job___-1956553443.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Sliced_Build_Job">Sliced_Build_Job</a></li>
<li class="asserted"><a href="Surface_Roughness___224153340.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Surface_Roughness">Surface_Roughness</a></li>
<li class="asserted"><a href="Tensile_Strength___422383922.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Tensile_Strength">Tensile_Strength</a></li>
<li class="asserted"><a href="Thermal_Conductivity___-1123446973.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Thermal_Conductivity">Thermal_Conductivity</a></li>
<li class="asserted"><a href="Thermal_Expansion___770470805.html" class='Class' title="http://www.semanticweb.org/luenpasc/ontologies/2021/6/untitled-ontology-31#Thermal_Expansion">Thermal_Expansion</a></li>
</ul>
</div>

</div><!-- owlselector -->
